/* names of classes index
page
page-header
logo
logo-text
list
hero
hero-title
hero-btn
advantages
hidden
advantages-title
advantages-text
about
about-title
about-img
team
team-maintitle
team-title
team-text
footer
 */

 /* name of classes portfolio */



:root {
    --main-bgc: #ffffff;
    --primary-text-color: rgba(117, 117, 117, 1);
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --hero-bgc: rgba(47, 48, 58, 1);
    --section-bgc: #F5F5F5;
    --section-team-bgc: rgba(245, 244, 250, 1);
    --footer-bgc: rgba(47, 48, 58, 1);
}

/* global */

body {
    background-color: var(--main-bgc);
    color: var(--primary-text-color);
}

/* header*/
.page-header {
    background-color: var(--main-bgc);
}
.logo {
color: var(--title-text-color);
}
.logo-text {
    color: var(--title-text-color);
}
.list {
    list-style: none;
}
/* main */

/* hero */
.hero {
    background-color: var(--hero-bgc);
}

/* advantages */
.advantages-title {
    color: var(--title-text-color);
}
/* about */
.about-title {
    color: var(--title-text-color);
}
/* team */
.team {
    background-color: var(--section-team-bgc);
}
.team-maintitle {
    color: var(--title-text-color);
}

.team-title {
    color: var(--title-text-color);
}

/* end of page */
.footer {
    background-color: var(--footer-bgc);
}



